# NLP building blocks
git+git://github.com/allenai/allennlp.git@d78daa44cc90b3ea9090fe6c24e788ebafe84496

# CoNLL-U format parsing
conllu==0.11

# Tree utilities
nltk

# Progress bars
tqdm

# Testing
pytest

# Rerun flaky tests
flaky

# Linting
flake8
mypy

# Plotting
seaborn

# Coverage reports
pytest-cov
codecov
